.commodity_detail_form{
    text-align: center
}
/* .col-sm-5{
    display: flex;
    float: right;
    color: white
}

.dataTables_paginate{
    display: flex;
    float: right;
    color: white
} */

.pagination{
    display: flex;
    color: white
}

.pagination a{
    color: white
}

#commodity_table_wrapper:nth-child(2){
    display: inline-flex;
    float: right;
    width: 100%;
}

.box{
    background-color: aliceblue;
    width:20%; margin-top:50%; margin:auto;
    height:250px; border:1px #111 solid;
    display:none; /* 默认对话框隐藏 */
    }
    
    
    
    .box.show{display:block;} 
    .box .x{ font-size:18px; text-align:right; display:block;height:20%;}
    .box input{width:80%; font-size:18px; margin-top:18px;}